html {width: 100%; height: 100%;}
body{
	margin: 0; padding: 0;
	background-size: cover;
	background-position: center;
	background-image: url('../images/image1.jpg'); position: relative; width: 100%; height: 100%;
	font-size: 16px; font-family: 'Source Sans Pro', sans-serif; font-weight: 400;
	-webkit-font-smoothing: antialiased;
}
#snow{
	width: 100%;
	height: 100vh;
}
.box{
	width: 320px;
	height: auto;
	background-color: white;
	color: #fff;
	position: absolute;
	transform: translate(-50%,-50%);
	left: 50%;
	top: 50%;
	padding: 70px 25px 20px 25px;
	box-sizing: border-box;
	border-radius: 6px;
	border: 3px solid transparent;
	border-image: linear-gradient(45deg,#ff0,#f0f,#f00,#00f);
	border-image-slice: 1;
}
.avatar{
	width: 100px;
	height: 100px;
	border-radius: 50%;
	position: absolute;
	top: -50px;
	left: calc(50% - 50px);
}
h1{
	margin: 0;
	padding: 0 0 20px;
	text-align: center;
	font-size: 22px;
	color: black;
}
.box input{
	width: 100%;
	margin-bottom: 20px;
}
.box input[type="text"],input[type="password"],input[type="email"]{
	border: none;
	border-bottom: 2px solid black;
	background-color:transparent;
	outline: none;
	height: 40px;
	color: black;
	font-size: 16px; 
}
.box input[type="submit"]{
	border: none;
	outline: none;
	height: 40px;
	background-color: #fb2525;
	color: #fff;
	font-size: 18px;
	border-radius: 20px;
	transition: 0.4s ease;
}
.box input[type="submit"]:hover{
	cursor: pointer;
	background-color: #ffc107;
	color: #000;
}
.box a{
	text-decoration: none;
	font-size: 12px;
	line-height: 20px;
	color: black;
}
.box a:hover{
	color: #ffc107;
}